Repository MultiProject23/SEMO, pull requests merged in 2023-04, with the labels that each got.

#35 [BE] DAO 삭제
  back-end/src/main/java/com/multi/shop/auth/domain/dao/RefreshTokenDAO.java
  back-end/src/main/java/com/multi/shop/auth/domain/vo/RefreshTokenVO.java
  back-end/src/main/java/com/multi/shop/auth/mapper/RefreshTokenMapper.java
  back-end/src/main/java/com/multi/shop/auth/repository/RefreshTokenRepository.java
  back-end/src/main/java/com/multi/shop/auth/service/AuthService.java
  back-end/src/main/java/com/multi/shop/member/domain/dao/MemberJoinDAO.java
  back-end/src/main/java/com/multi/shop/member/domain/vo/MemberVO.java
  back-end/src/main/java/com/multi/shop/member/dto/request/MemberJoinRequest.java
  back-end/src/main/java/com/multi/shop/member/mapper/MemberMapper.java
  back-end/src/main/java/com/multi/shop/member/repository/MemberRepository.java
  back-end/src/main/java/com/multi/shop/member/service/MemberService.java
  back-end/src/main/java/com/multi/shop/order/domain/dao/OrderCancelDAO.java
  back-end/src/main/java/com/multi/shop/order/domain/dao/OrderSaveDAO.java
  back-end/src/main/java/com/multi/shop/order/dto/request/OrderSaveRequest.java
  back-end/src/main/java/com/multi/shop/order/mapper/OrderMapper.java
  back-end/src/main/java/com/multi/shop/order/repository/OrderRepository.java
  back-end/src/main/java/com/multi/shop/order/service/OrderService.java
  back-end/src/main/resources/mapper/auth/RefreshTokenMapper.xml
  back-end/src/main/resources/mapper/member/MemberMapper.xml
  back-end/src/main/resources/mapper/order/OrderMapper.xml
Labels: ♻️ refactor, 🌱 back-end

#38 [BE] Member 더미 데이터 추가
  back-end/src/main/java/com/multi/shop/InitDb.java
  back-end/src/main/java/com/multi/shop/global/config/SecurityConfig.java
Labels: ✨ feature, 🌱 back-end

#45 Feature/#41
  back-end/src/main/java/com/multi/shop/cart/controller/CartController.java
  back-end/src/main/java/com/multi/shop/cart/domain/vo/CartVO.java
  back-end/src/main/java/com/multi/shop/cart/dto/response/CartResponse.java
  back-end/src/main/java/com/multi/shop/cart/mapper/CartMapper.java
  back-end/src/main/java/com/multi/shop/cart/repository/CartRepository.java
  back-end/src/main/java/com/multi/shop/cart/service/CartService.java
  back-end/src/main/resources/mapper/cart/CartMapper.xml
Labels: ✨ feature, 🌱 back-end

#47 [BE] Cart 더미 데이터 추가
  .github/PULL_REQUEST_TEMPLATE.md
  back-end/src/main/java/com/multi/shop/InitDb.java
  back-end/src/main/java/com/multi/shop/cart/dto/request/CartSaveRequest.java
Labels: ✨ feature, 🌱 back-end

#49 [BE] `Order` 더미 데이터 추가
  back-end/src/main/java/com/multi/shop/InitDb.java
  back-end/src/main/java/com/multi/shop/order/dto/request/OrderSaveRequest.java
  back-end/src/main/resources/mapper/order/OrderMapper.xml
Labels: ✨ feature, 🌱 back-end

#44 [BE] 장바구니 삭제 기능 구현
  back-end/src/main/java/com/multi/shop/cart/controller/CartController.java
  back-end/src/main/java/com/multi/shop/cart/mapper/CartMapper.java
  back-end/src/main/java/com/multi/shop/cart/repository/CartRepository.java
  back-end/src/main/java/com/multi/shop/cart/service/CartService.java
  back-end/src/main/resources/mapper/cart/CartMapper.xml
Labels: ✨ feature, 🌱 back-end

#51 [BE] 회원정보 조회 구현
  back-end/src/main/java/com/multi/shop/member/controller/MemberController.java
  back-end/src/main/java/com/multi/shop/member/dto/response/MemberResponse.java
  back-end/src/main/java/com/multi/shop/member/mapper/MemberMapper.java
  back-end/src/main/java/com/multi/shop/member/repository/MemberRepository.java
  back-end/src/main/java/com/multi/shop/member/service/MemberService.java
  back-end/src/main/java/com/multi/shop/order/controller/OrderController.java
  back-end/src/main/resources/mapper/member/MemberMapper.xml
Labels: ✨ feature, 🌱 back-end

#32 [BE] 상품 정보 조회 구현
  back-end/src/main/java/com/multi/shop/product/controller/ProductController.java
  back-end/src/main/java/com/multi/shop/product/domain/Category.java
  back-end/src/main/java/com/multi/shop/product/domain/Target.java
  back-end/src/main/java/com/multi/shop/product/domain/vo/FindRelatedProductVO.java
  back-end/src/main/java/com/multi/shop/product/domain/vo/ProductVO.java
  back-end/src/main/java/com/multi/shop/product/dto/response/ProductResponse.java
  back-end/src/main/java/com/multi/shop/product/dto/response/ProductsResponse.java
  back-end/src/main/java/com/multi/shop/product/exception/ProductErrorCode.java
  back-end/src/main/java/com/multi/shop/product/exception/ProductException.java
  back-end/src/main/java/com/multi/shop/product/mapper/ProductMapper.java
  back-end/src/main/java/com/multi/shop/product/repository/ProductRepository.java
  back-end/src/main/java/com/multi/shop/product/service/ProductService.java
  back-end/src/main/resources/mapper/product/ProductMapper.xml
Labels: ✨ feature, 🌱 back-end

#54 [FIX] 연관 상품 버그 수정
  front-end/src/components/Details/Content/RelatedProduct/index.jsx
Labels: 🚑 fix, 🖼︎ front-end

#57 [BE] 장바구니 수량 변경 기능 구현
  back-end/src/main/java/com/multi/shop/cart/controller/CartController.java
  back-end/src/main/java/com/multi/shop/cart/domain/Quantity.java
  back-end/src/main/java/com/multi/shop/cart/dto/request/CartChangeQuantityRequest.java
  back-end/src/main/java/com/multi/shop/cart/exception/CartErrorCode.java
  back-end/src/main/java/com/multi/shop/cart/mapper/CartMapper.java
  back-end/src/main/java/com/multi/shop/cart/repository/CartRepository.java
  back-end/src/main/java/com/multi/shop/cart/service/CartService.java
  back-end/src/main/resources/mapper/cart/CartMapper.xml
Labels: ✨ feature, 🌱 back-end

#59 [FE] 장바구니 수량 변경 기능 구현
  front-end/src/components/Cart/Row/index.jsx
Labels: ✨ feature, 🖼︎ front-end

#62 [FE] 상품 상세페이지 UI 변경
  front-end/src/components/Details/Order/Button/CartButton/index.jsx
  front-end/src/components/Details/Order/Button/CartButton/index.styled.js
  front-end/src/components/Details/Order/Button/SizeButton/index.jsx
  front-end/src/components/Details/Order/Button/SizeButton/index.styled.js
  front-end/src/components/Details/Order/SizeCheck/index.jsx
  front-end/src/components/Details/Order/SizeCheck/index.styled.js
  front-end/src/components/Details/Order/SizeGuide/index.jsx
  front-end/src/components/Details/Order/SizeGuide/index.styled.js
  front-end/src/components/Details/Order/index.jsx
  front-end/src/components/Details/Order/index.styled.js
  front-end/src/components/Details/index.jsx
Labels: 🖼︎ front-end, 🎨 UI

#63 [FE] 장바구니 디자인 수정
  front-end/src/components/Cart/NotFound/index.jsx
  front-end/src/components/Cart/Payment/index.jsx
  front-end/src/components/Cart/Payment/index.styled.js
  front-end/src/components/Details/Order/Button/CartButton/index.jsx
  front-end/src/constants/path.js
  front-end/src/pages/Cart/index.jsx
  front-end/src/pages/Cart/index.styled.js
Labels: 🖼︎ front-end, 🎨 UI

#65 [BE] 장바구니 조회 API 기능 수정
  back-end/src/main/java/com/multi/shop/cart/controller/CartController.java
  back-end/src/main/java/com/multi/shop/cart/dto/response/CartResponse.java
  back-end/src/main/java/com/multi/shop/cart/dto/response/CartsResponse.java
  back-end/src/main/java/com/multi/shop/cart/service/CartService.java
  back-end/src/main/resources/mapper/cart/CartMapper.xml
Labels: ✨ feature, 🌱 back-end

#67 [FE] 장바구니 화면 수정
  front-end/src/components/Cart/Payment/index.jsx
  front-end/src/pages/Cart/index.jsx
Labels: ✨ feature, 🖼︎ front-end

#69 [BE] 장바구니 상태 변경 기능 구현
  back-end/src/main/java/com/multi/shop/cart/controller/CartController.java
  back-end/src/main/java/com/multi/shop/cart/dto/request/CartChangeCheckedRequest.java
  back-end/src/main/java/com/multi/shop/cart/mapper/CartMapper.java
  back-end/src/main/java/com/multi/shop/cart/repository/CartRepository.java
  back-end/src/main/java/com/multi/shop/cart/service/CartService.java
  back-end/src/main/resources/mapper/cart/CartMapper.xml
  front-end/src/components/Cart/Row/index.jsx
Labels: ✨ feature, 🌱 back-end

#70 [FIX] 장바구니에 선택된 물건이 없으면 0원 출력
  front-end/src/components/Cart/Payment/index.jsx
  front-end/src/pages/Cart/index.jsx
Labels: 🚑 fix, 🖼︎ front-end

#71 [BE] 비밀번호 수정 기능 구현
  back-end/src/main/java/com/multi/shop/member/controller/MemberController.java
  back-end/src/main/java/com/multi/shop/member/dto/request/MemberModifyPWRequest.java
  back-end/src/main/java/com/multi/shop/member/exception/MemberErrorCode.java
  back-end/src/main/java/com/multi/shop/member/mapper/MemberMapper.java
  back-end/src/main/java/com/multi/shop/member/repository/MemberRepository.java
  back-end/src/main/java/com/multi/shop/member/service/MemberService.java
  back-end/src/main/resources/mapper/member/MemberMapper.xml
Labels: ✨ feature, 🌱 back-end

#72 [BE] [FE] 상품페이지 기능 구현
  back-end/src/main/java/com/multi/shop/product/controller/ProductController.java
  back-end/src/main/java/com/multi/shop/product/dto/response/ProductsResponse.java
  back-end/src/main/java/com/multi/shop/product/mapper/ProductMapper.java
  back-end/src/main/java/com/multi/shop/product/repository/ProductRepository.java
  back-end/src/main/java/com/multi/shop/product/service/ProductService.java
  back-end/src/main/resources/mapper/product/ProductMapper.xml
  front-end/src/components/Header/Search/index.jsx
  front-end/src/components/Product/Card/index.styled.css
  front-end/src/pages/Product/index.jsx
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#52 [BE] [FE] 리뷰 조회, 수정, 삭제 기능 구현 및 리액트 기능 수정
  back-end/src/main/java/com/multi/shop/review/controller/ReviewController.java
  back-end/src/main/java/com/multi/shop/review/domain/dto/request/ReviewRequest.java
  back-end/src/main/java/com/multi/shop/review/domain/vo/ReviewVO.java
  back-end/src/main/java/com/multi/shop/review/mapper/ReviewMapper.java
  back-end/src/main/java/com/multi/shop/review/repository/ReviewRepository.java
  back-end/src/main/java/com/multi/shop/review/service/ReviewService.java
  back-end/src/main/resources/mapper/review/ReviewMapper.xml
  front-end/src/components/Review/ReviewModal/index.jsx
  front-end/src/components/Review/ReviewModal/index.styled.js
  front-end/src/components/Review/ReviewModal/updateIndex.jsx
  front-end/src/components/Review/ReviewPagenation/index.jsx
  front-end/src/components/Review/index.jsx
Labels: ✨ feature, ♻️ refactor, 🖼︎ front-end, 🌱 back-end

#75 [FE] 결제 기능 구현
  back-end/src/main/java/com/multi/shop/InitDb.java
  back-end/src/main/java/com/multi/shop/order/controller/OrderController.java
  back-end/src/main/java/com/multi/shop/order/dto/request/OrderSaveRequest.java
  back-end/src/main/java/com/multi/shop/order/service/OrderService.java
  back-end/src/main/java/com/multi/shop/product/dto/response/StockUpdateRequest.java
  back-end/src/main/java/com/multi/shop/product/mapper/ProductMapper.java
  back-end/src/main/java/com/multi/shop/product/repository/ProductRepository.java
  back-end/src/main/java/com/multi/shop/product/service/ProductService.java
  back-end/src/main/java/com/multi/shop/review/controller/ReviewController.java
  back-end/src/main/resources/mapper/product/ProductMapper.xml
  back-end/src/main/resources/mapper/review/ReviewMapper.xml
  front-end/src/constants/path.js
  front-end/src/pages/Cart/index.jsx
Labels: ✨ feature, 🌱 back-end

#77 [BE] 주문 취소 기능 구현
  back-end/src/main/java/com/multi/shop/order/domain/vo/OrderVO.java
  back-end/src/main/java/com/multi/shop/order/dto/request/OrderCancelRequest.java
  back-end/src/main/java/com/multi/shop/order/mapper/OrderMapper.java
  back-end/src/main/java/com/multi/shop/order/repository/OrderRepository.java
  back-end/src/main/java/com/multi/shop/order/service/OrderService.java
  back-end/src/main/resources/mapper/order/OrderMapper.xml
Labels: ✨ feature, 🌱 back-end

#82 [FE] 필요없는 파일 삭제
  front-end/public/img/03.jpg
  front-end/public/img/04.jpg
  front-end/public/img/05.jpg
  front-end/public/img/06.jpg
  front-end/public/img/07.jpg
  front-end/public/img/08.jpg
  front-end/public/img/09.jpg
  front-end/public/img/10.jpg
  front-end/public/img/11.jpg
  front-end/public/img/12.jpg
  front-end/public/img/13.jpg
  front-end/public/img/14.jpg
  front-end/public/img/15.jpg
  front-end/public/img/16.jpg
  front-end/public/img/17.jpg
  front-end/public/img/18.jpg
  front-end/public/img/19.jpg
  front-end/public/img/20.jpg
  front-end/public/img/23.jpg
  front-end/public/img/24.jpg
  front-end/public/img/ReviewTest_1.jpg
  front-end/public/img/ReviewTest_2.jpg
  front-end/public/img/ReviewTest_3.jpg
  front-end/public/img/ReviewTest_4.jpg
  front-end/public/img/ReviewTest_5.jpg
  front-end/public/img/ReviewTest_6.jpg
  front-end/public/img/ReviewTest_7.jpg
  front-end/public/img/ReviewTest_8.jpg
  front-end/src/assets/Category/bag2.jpg
  front-end/src/assets/Category/basic2.jpg
  front-end/src/assets/Category/hat2.jpg
  front-end/src/assets/Category/outer2.jpg
  front-end/src/assets/Category/pant2.jpg
  front-end/src/assets/Category/shoes2.jpg
  front-end/src/assets/Category/top2.jpg
  front-end/src/assets/Category/total2.jpg
  front-end/src/assets/Details/c1.jpg
  front-end/src/assets/Details/c2.jpg
  front-end/src/assets/Details/c3.jpg
  front-end/src/assets/Details/c4.jpg
  front-end/src/assets/Details/c5.jpg
  front-end/src/assets/Details/product1.jpg
  front-end/src/assets/Details/product2.jpg
  front-end/src/assets/Details/product3.jpg
  front-end/src/assets/Details/product4.jpg
  front-end/src/assets/Details/product5.jpg
  front-end/src/assets/Details/product6.jpg
  front-end/src/assets/Details/product7.jpg
  front-end/src/assets/Details/product8.jpg
  front-end/src/assets/Review/ReviewTest.jpg
  front-end/src/assets/Review/reviewData.json
Labels: 🔥 remove, 🖼︎ front-end

#84 [BE] [FE] 리뷰 작성시 UI 수정
  back-end/src/main/java/com/multi/shop/order/domain/Status.java
  back-end/src/main/java/com/multi/shop/order/domain/vo/OrderConfirmationVO.java
  back-end/src/main/java/com/multi/shop/order/mapper/OrderMapper.java
  back-end/src/main/java/com/multi/shop/order/repository/OrderRepository.java
  back-end/src/main/java/com/multi/shop/review/dto/request/ReviewSaveRequest.java
  back-end/src/main/java/com/multi/shop/review/service/ReviewService.java
  back-end/src/main/resources/mapper/order/OrderMapper.xml
  front-end/src/components/My/Orders/Row/index.jsx
  front-end/src/components/My/Orders/Row/index.styled.js
  front-end/src/components/Review/ReviewForm/index.jsx
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end, 🎨 UI

#86 [Fix] 장바구니에 물건이 존재시 로그인 풀리는 현상 해결
  back-end/src/main/java/com/multi/shop/cart/service/CartService.java
  front-end/src/components/Details/Order/Button/CartButton/index.jsx
Labels: 🚑 fix, 🖼︎ front-end

#89 [BE] 주문 관련 예외 처리 구현
  back-end/src/main/java/com/multi/shop/cart/service/CartService.java
  back-end/src/main/java/com/multi/shop/order/exception/OrderErrorCode.java
  back-end/src/main/java/com/multi/shop/order/exception/OrderException.java
  back-end/src/main/java/com/multi/shop/order/service/OrderService.java
Labels: ✨ feature, 🌱 back-end

#83 [FE] 상품 상세페이지 UI 수정
  front-end/src/components/Details/Content/RelatedProduct/index.jsx
  front-end/src/components/Details/Order/Button/DeliveryButton/index.jsx
  front-end/src/components/Details/Order/Button/DeliveryButton/index.styled.js
  front-end/src/components/Details/Order/Button/StockButton/index.jsx
  front-end/src/components/Details/Order/Button/StockButton/index.styled.js
Labels: ♻️ refactor, 🖼︎ front-end, 🎨 UI

#90 refactor:일부 수정
  front-end/src/pages/Join/Phone.jsx
  front-end/src/pages/Join/Pw.jsx
  front-end/src/pages/Join/PwCheck.jsx
  front-end/src/pages/Join/RegisterForm.jsx
Labels: 🖼︎ front-end, 🎨 UI

#91 [BE] 리뷰 데이터 조회 오류 수정
  back-end/src/main/java/com/multi/shop/review/controller/ReviewController.java
  back-end/src/main/resources/mapper/review/ReviewMapper.xml
  front-end/src/components/Review/index.jsx
Labels: 🚑 fix, 🌱 back-end

#93 [BE] 리뷰 조회 수정
  back-end/src/main/java/com/multi/shop/review/controller/ReviewController.java
  back-end/src/main/java/com/multi/shop/review/domain/vo/ReviewVO.java
  back-end/src/main/java/com/multi/shop/review/dto/response/ReviewsResponse.java
  back-end/src/main/java/com/multi/shop/review/mapper/ReviewMapper.java
  back-end/src/main/java/com/multi/shop/review/repository/ReviewRepository.java
  back-end/src/main/java/com/multi/shop/review/service/ReviewService.java
  back-end/src/main/resources/mapper/review/ReviewMapper.xml
  front-end/src/components/Review/ReviewContent/index.jsx
  front-end/src/components/Review/ReviewModal/index.jsx
  front-end/src/components/Review/ReviewModal/index.styled.js
  front-end/src/components/Review/index.jsx
Labels: ✨ feature, 🌱 back-end

#95 [BE] [FE] 리뷰 조회 수정
  back-end/src/main/java/com/multi/shop/review/domain/vo/ReviewVO.java
  back-end/src/main/java/com/multi/shop/review/dto/response/ReviewsResponse.java
  back-end/src/main/resources/mapper/review/ReviewMapper.xml
  front-end/src/components/Product/Card/index.jsx
  front-end/src/components/Review/ReviewContent/index.jsx
  front-end/src/components/Review/ReviewModal/index.jsx
  front-end/src/components/Review/index.jsx
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#98 [BE] 리뷰 수정 기능 구현
  back-end/src/main/java/com/multi/shop/review/controller/ReviewController.java
  back-end/src/main/java/com/multi/shop/review/mapper/ReviewMapper.java
  back-end/src/main/java/com/multi/shop/review/repository/ReviewRepository.java
  back-end/src/main/java/com/multi/shop/review/service/ReviewService.java
  front-end/src/components/Review/ReviewModal/index.jsx
  front-end/src/components/Review/ReviewModal/index.styled.js
  front-end/src/components/Review/ReviewModal/updateIndex.jsx
Labels: ✨ feature, 🌱 back-end

#99 [BE] 리뷰 삭제 기능 구현
  back-end/src/main/java/com/multi/shop/review/controller/ReviewController.java
  back-end/src/main/java/com/multi/shop/review/dto/request/ReviewUpdateRequest.java
  back-end/src/main/java/com/multi/shop/review/mapper/ReviewMapper.java
  back-end/src/main/java/com/multi/shop/review/repository/ReviewRepository.java
  back-end/src/main/java/com/multi/shop/review/service/ReviewService.java
  back-end/src/main/resources/mapper/review/ReviewMapper.xml
Labels: ✨ feature, 🌱 back-end

#101 [CONFIG] DB 스키마 수정
  back-end/src/main/resources/sql/README.md
  back-end/src/main/resources/sql/schema/schema.sql
Labels: 📝 docs, 🔧 config

#104 [BE] 각 테이블의 기본적인 `FindById` 구현 와 예외 처리 구현
  back-end/src/main/java/com/multi/shop/auth/exception/AuthErrorCode.java
  back-end/src/main/java/com/multi/shop/auth/exception/AuthException.java
  back-end/src/main/java/com/multi/shop/auth/support/JwtTokenProvider.java
  back-end/src/main/java/com/multi/shop/cart/controller/CartController.java
  back-end/src/main/java/com/multi/shop/cart/domain/Quantity.java
  back-end/src/main/java/com/multi/shop/cart/exception/CartErrorCode.java
  back-end/src/main/java/com/multi/shop/cart/mapper/CartMapper.java
  back-end/src/main/java/com/multi/shop/cart/repository/CartRepository.java
  back-end/src/main/java/com/multi/shop/cart/service/CartService.java
  back-end/src/main/java/com/multi/shop/member/controller/MemberController.java
  back-end/src/main/java/com/multi/shop/member/domain/Email.java
  back-end/src/main/java/com/multi/shop/member/domain/Member.java
  back-end/src/main/java/com/multi/shop/member/domain/Name.java
  back-end/src/main/java/com/multi/shop/member/domain/Phone.java
  back-end/src/main/java/com/multi/shop/member/domain/vo/MemberVO.java
  back-end/src/main/java/com/multi/shop/member/dto/response/MemberResponse.java
  back-end/src/main/java/com/multi/shop/member/exception/MemberErrorCode.java
  back-end/src/main/java/com/multi/shop/member/mapper/MemberMapper.java
  back-end/src/main/java/com/multi/shop/member/repository/MemberRepository.java
  back-end/src/main/java/com/multi/shop/member/service/MemberService.java
  back-end/src/main/java/com/multi/shop/order/exception/OrderErrorCode.java
  back-end/src/main/java/com/multi/shop/order/mapper/OrderMapper.java
  back-end/src/main/java/com/multi/shop/order/repository/OrderRepository.java
  back-end/src/main/java/com/multi/shop/order/service/OrderService.java
  back-end/src/main/java/com/multi/shop/product/controller/ProductController.java
  back-end/src/main/java/com/multi/shop/product/domain/Product.java
  back-end/src/main/java/com/multi/shop/product/dto/response/ProductResponse.java
  back-end/src/main/java/com/multi/shop/product/dto/response/ProductsResponse.java
  back-end/src/main/java/com/multi/shop/product/exception/ProductErrorCode.java
  back-end/src/main/java/com/multi/shop/product/mapper/ProductMapper.java
  back-end/src/main/java/com/multi/shop/product/repository/ProductRepository.java
  back-end/src/main/java/com/multi/shop/product/service/ProductService.java
  back-end/src/main/java/com/multi/shop/review/domain/Review.java
  back-end/src/main/java/com/multi/shop/review/exception/ReviewErrorCode.java
  back-end/src/main/java/com/multi/shop/review/exception/ReviewException.java
  back-end/src/main/java/com/multi/shop/review/mapper/ReviewMapper.java
  back-end/src/main/java/com/multi/shop/review/repository/ReviewRepository.java
  back-end/src/main/java/com/multi/shop/review/service/ReviewService.java
  back-end/src/main/resources/mapper/cart/CartMapper.xml
  back-end/src/main/resources/mapper/member/MemberMapper.xml
  back-end/src/main/resources/mapper/order/OrderMapper.xml
  back-end/src/main/resources/mapper/product/ProductMapper.xml
  back-end/src/main/resources/mapper/review/ReviewMapper.xml
  back-end/src/main/resources/sql/schema/schema.sql
  front-end/src/components/Category/index.jsx
  front-end/src/components/My/Profile/ChangeForm/index.jsx
  front-end/src/components/Product/Card/index.jsx
Labels: ✨ feature, 🌱 back-end

#109 [FIXED] 비밀번호 변경시 버그 해결
  back-end/src/main/java/com/multi/shop/auth/mapper/RefreshTokenMapper.java
  back-end/src/main/java/com/multi/shop/auth/repository/RefreshTokenRepository.java
  back-end/src/main/java/com/multi/shop/auth/service/AuthService.java
  front-end/src/components/Category/index.jsx
  front-end/src/components/My/Profile/ChangeForm/index.jsx
  front-end/src/pages/Join/RegisterForm.jsx
  front-end/src/pages/Login/LoginForm.jsx
  front-end/src/pages/Login/index.jsx
Labels: 🚑 fix, 🖼︎ front-end

#110 [FE] 잘못된 상품 상세 페이지 접근시 404 에러 처리
  front-end/src/components/My/Profile/ChangeForm/index.jsx
  front-end/src/constants/path.js
  front-end/src/pages/Details/index.jsx
Labels: ✨ feature, 🖼︎ front-end

#111 [BE] `accessToken` 재발급 기능 구현
  back-end/src/main/java/com/multi/shop/auth/controller/AuthController.java
  back-end/src/main/java/com/multi/shop/auth/domain/vo/RefreshTokenVO.java
  back-end/src/main/java/com/multi/shop/auth/dto/request/TokenRequest.java
  back-end/src/main/java/com/multi/shop/auth/mapper/RefreshTokenMapper.java
  back-end/src/main/java/com/multi/shop/auth/repository/RefreshTokenRepository.java
  back-end/src/main/java/com/multi/shop/auth/service/AuthService.java
  back-end/src/main/java/com/multi/shop/auth/support/JwtTokenProvider.java
  back-end/src/main/java/com/multi/shop/member/domain/vo/MemberVO.java
  back-end/src/main/resources/mapper/auth/RefreshTokenMapper.xml
  front-end/src/components/Header/User/index.jsx
  front-end/src/constants/path.js
Labels: ✨ feature, 🌱 back-end

#123 [Docs] BackEnd 문서 수정
  back-end/src/main/resources/sql/README.md
Labels: ✨ feature, 🌱 back-end

#126 [DOCS] Project README 작성
  .vscode/settings.json
  README.md
  front-end/src/components/Join/RegisterForm.jsx
  front-end/src/components/Login/LoginForm.jsx
Labels: 📝 docs

#130 [BE] 사용하지 않는 Import문 삭제
  back-end/src/main/java/com/multi/shop/cart/controller/CartController.java
  back-end/src/main/java/com/multi/shop/product/repository/ProductRepository.java
  back-end/src/main/java/com/multi/shop/review/controller/ReviewController.java
Labels: ♻️ refactor, 🌱 back-end

#132 [Docs] Update Readme
  docker/README.md
Labels: 📝 docs

#133 [FE] 헤더 UI 수정
  front-end/src/components/Header/User/index.styled.js
Labels: 🚑 fix, 🎨 UI

#134 [Docs] Readme 사진 수정
  README.md
Labels: 📝 docs

#135 [Docs] Update Readme
  README.md
Labels: 📝 docs
